body {
    font-size: 1.5em;
    line-height: 2em;
}

#cursor {
    width: 40px;
    height: 40px;
    z-index: 930;
    opacity: 0.9;

    background: black;
    border-radius: 100%;
    background: -webkit-radial-gradient(100px 100px, circle, #5cabff, #000);
    background: -moz-radial-gradient(100px 100px, circle, #5cabff, #000);
    background: radial-gradient(100px 100px, circle, #5cabff, #000);

    position: absolute;
}

#canvas {
    position: relative;
    width: 800px;
    height: 500px;
    background-color: yellow;
    margin: 0 50 50 50;
}

.bowl {
    width: 500px;
    height: 200px;
    margin-top: 280px;
    margin-left: 140px;
    margin-right: 300px;
    background-color: white;
    border-bottom-left-radius: 120px;
    position: absolute;
    border-bottom-right-radius: 120px;
    z-index: 600;
}

.css-element {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    text-align: center;
    width: auto;
    background-color: green;
    z-index: 900;
}

.css-color {
    bottom: 340px;
    left: 35px;
    position: absolute;
}

.css-font {
    bottom: 340px;
    left: 235px;
    position: absolute;
}

.css-align {
    bottom: 340px;
    left: 435px;
    position: absolute;
}

.css-bold {
    bottom: 400px;
    left: 145px;
    position: absolute;
}

.css-italic {
    bottom: 400px;
    left: 323px;
    position: absolute;
}

.css-background-color {
    bottom: 400px;
    left: 470px;
    position: absolute;
}

#bowl-container table {
    border: 1px solid black;
    width: 350px;
    height: 200px;
    margin-top: 150px;
}

#bowl-container table td {
    border: 1px solid red;
}

/*animations*/
.animate {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.animate.move {
    left: 540px !important;
    bottom: 80px !important;
    margin-left: -100px; /*.animate width*/
}

#text-inside-bowl {
    font-size: 20px;
    color: darkcyan;
}