body {
    margin: 10px;
    font-family: Helvetica;
}
canvas.leap-boneHand {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.base-figure{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 43%;
}

#test-figure{
    width: 600px;
    height: 400px;
    margin-left: 30%;
    background-color: yellow;
}

.base-figure{
    margin-left: 40%;
    margin-top: 60px;
}